<launch>
  <arg name="debug" default="false" />
  <arg name="load_robot_description" default="false" />
  <arg name="fake_execution" default="false" />
  <arg name="use_gazebo" default="false" />
  <arg name="use_gui" default="false" />
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>

  <include file="$(find mycobot_gazebo)/launch/mycobot_with_emptyworld.launch">
    <arg name="world_name" value="$(find mycobot_gazebo)/worlds/table.world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gazebo_gui)" />
    <arg name="paused" value="$(arg paused)" />
    <arg name="z0" value="1.02" />
  </include>

  <include file="$(find mycobot_move_it_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>

  <include file="$(find mycobot_move_it_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find mycobot_move_it_config)/launch/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- setup follower arm -->
  <arg name="model" default="$(find mycobot_description)/urdf/mycobot.urdf.xacro" />
  <node name="urdf_spawner2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model myCobot2 -param robot_description2 -x 0.0 -y -0.5 -z 1.02" />

  <param name="robot_description2" command="$(find xacro)/xacro '$(arg model)' gazebo_plugin:=true
    robot_namespace:='follower'" />

  <rosparam file="$(find mycobot_control)/config/fake_ros_control.yaml" command="load" ns="/follower"/>
  <rosparam file="$(find mycobot_control)/config/gazebo_control.yaml" command="load" ns="/follower"/>
  <group ns="follower">
    <node name="controller_spawner2" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="joint_state_controller arm_controller">
      <remap from="controller_manager" to="/follower/controller_manager"/>
    </node>
  </group>
</launch>
